:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-dark: #000000;
  --text-light: #ffffff:
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-josefin-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-dark) !important;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-josefin-sans);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -.018em;
  word-spacing: -.05em;
}

.global-authors {
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  padding: 2px 20% 10px 0;
}

.global-title {
  line-height: 1.1;
  margin: 15px 0 5px -3px;
}

.global-underline {
  transition: background-size 0.6s ease-out;
  background: linear-gradient(#ff6dc4, #ff6dc4) no-repeat left 87% / 0 30%;
}

.global-underline:hover {
  background-size: 100% 30%;
}

.global-excerpt {
  font-size: 16px;
  width: 90%;
  padding: 20px 10% 15px 0;
}

.global-tags {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 1px;
  width: 100%;
  padding: 20px 0 0;
}



/*Header CSS*/
.nav-link {
  font-family: var(--font-josefin-sans) !important;
  font-size: 20px !important;
  transition: background-size 0.6s ease-out !important;
  background: linear-gradient(#ff6dc4, #ff6dc4) no-repeat left 87% / 0 10% !important;
}

.nav-link:hover {
  background-size: 100% 10% !important;
}
