.banner a {
  text-decoration: none;
}

.banner h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  margin: 15px 0 5px -3px;
  color: #000;
}

.banner a h1:hover {
  background-size: 97% 30%;
}
