.banner a {
  text-decoration: none;
}

.banner h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
  margin: 15px 0 5px -3px;
  color: #000;
}

.banner a h1:hover {
  background-size: 97% 30%;
}

.blgCont {
  margin-top: -5%;
  position: relative;
  z-index: 1;
  padding-left: 60px;
  padding-right: 60px;
}

.otherPostRow {
  background-color: #f9f9f9;
}

.otherPostRow:nth-child(even) {
  flex-direction: row-reverse;
}

.middleCont {
  padding-left: 60px;
  padding-right: 60px;
}

.loadBtn {
  padding: 120px 0px;
}

.button {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 25px;
  border: 2px solid #0f0f0f;
  border-radius: 0px;
  background: transparent;
  color: #000;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.button:hover {
  background: #000;
  color: #fff !important;
}
